@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>



<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>角色名</th>

            <th>操作</th>
        </tr>
    </thead>
    <tbody>

        @foreach (IdentityRole item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>

                <td style="width:145px;">


                    <a class="btn btn-primary" asp-action="EditRole" asp-route-id="@item.Id">编辑</a>

                    <form action="/Role/DeleteRole" method="post" style="display:inline-block">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn btn-danger" type="submit" onclick="return confirm('确定要删除吗')">删除</button>
                    </form>
                    @*<a class="btn btn-danger" type="submit" href="javasctipt:return confirm('确定要删除吗')">删除</a>*@

                </td>
            </tr>
        }


    </tbody>
</table>

<a class="btn btn-success" asp-action="AddRole">添加角色</a>